# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Flask
# =========================
instance/
*.log

# =========================
# PyCharm / IntelliJ
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS / Windows
# =========================
Thumbs.db
desktop.ini
*.lnk

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/
